footer{
    height: 340px;
    background-color: #604f68;
}

footer .brand{
    padding: 100px 0 0 85px;
    color: #fff !important;
    
}

footer h6{
    padding: 106px 0 0 50px;
    text-transform: uppercase;
    color: #fff;
}

footer ul{
    list-style: none;
    color: #fff !important;
    margin: 10px 0;
    padding-left: 50px;
    font-weight: 500; 
}

footer ul li{
    margin: 10px 0;
}

footer ul li a:link {
    color: #fff;
 }
 
 footer ul li a:visited {
     color: #fff;
 }
 
 footer ul li a:hover {
     color: #fff;
 }
 
 footer ul li a:active {
     color: #fff;
 }

.chamada-app-botoes{
    padding: 45px 100px;
}

.redes button{
    background-color: #6b617d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 30px;
    margin: 5px;
}

.redes .fab{
    display: block;
}   